@model DoAn.Areas.admin.Models.TaiKhoan
@{
    ViewData["Title"] = "ChangePassWord";
    Layout = "~/Areas/user/Views/Share/_layoutUser.cshtml";
}
@inject IHttpContextAccessor HttpContextAccessor

@{
    var avatar = HttpContextAccessor.HttpContext.Session.GetString("avatar");
}

<div class="container-fluid bg-secon-img mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3" style="color: #fff;">Đổi mật khẩu</h1>
    </div>
</div>

<div class="auth-bg">
    <div class="container-fluid">
        <div class="row g-0 justify-content-center">
            <!-- end col -->
            <div class="card col-lg-8 col-xl-7 col-md-11">
                <div class="card-body authentication-page-content">
                    <div class="d-flex flex-column h-100 px-4 pt-4">
                        <div class="row justify-content-center my-auto">
                            <div class="col-sm-8 col-lg-8 col-xl-7 col-xxl-8">
                                <div class="py-md-5 py-4">
                                    <div class="user-thumb text-center mb-4">
                                        <img src="~/upload/@avatar" class="rounded-circle img-thumbnail avatar-lg" alt="thumbnail">
                                        <h5 class="font-size-16 mt-3 cl-change-pass">@Model.taiKhoan</h5>
                                    </div>
                                    <form method="post" id="changePassForm">
                                        <div class="mb-3">
                                            <label for="oldpassword-input" class="form-label fw-500 cl-change-pass">Mật khẩu cũ</label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input type="password" class="form-control pr-44" id="oldpassword-input" name="pass" value="@ViewData["pass"]" required placeholder="Nhập mật khẩu cũ">
                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-old"><i class="fas fa-eye"></i></button>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="newpassword-input" class="form-label fw-500 cl-change-pass">Mật khẩu mới</label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input type="password" class="form-control pr-44" name="newPass" value="@ViewData["newpass"]" required placeholder="Nhập mật khẩu mới" id="password-input">
                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-new"><i class="fas fa-eye"></i></button>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="confirmpassword-input" class="form-label fw-500 cl-change-pass">Nhập lại mật khẩu</label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input type="password" class="form-control pr-44" name="confirmPass" value="@ViewData["confirmpass"]" required id="confirmpassword-input" placeholder="Nhập lại mật khẩu">
                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-confirm"><i class="fas fa-eye"></i></button>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="Id" />
                                        <input type="hidden" asp-for="matKhau" />
                                        <div class="text-center mt-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100" type="submit">Xác nhận</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end form -->
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>


